# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Environment Variables
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# SQLite
*.sqlite3
*.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/
env/